<template name="landingPage">
    <div class="jumbotron">
        <div class="container">
            <h1>Let's Cook Food</h1>
            <p>An exciting way to explore recipes and your ingredients with Amazon Echo integration.</p>
            <p><a class="btn btn-primary btn-lg" href="#" data-action="getStarted" type="button">Get Started &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-3">
              <h2>Pantry</h2>
              <p>Keep track of all the ingrediants in your kitchen manually, or with automatic updates from your shopping lists and cooked meals.</p>
          </div>
          <div class="col-md-3">
              <h2>Recipes</h2>
              <p>Add quality recipes to your shopping cart or favorite them for later.</p>
          </div>
          <div class="col-md-3">
              <h2>Shopping List</h2>
              <p>Keep track of ingredients to buy and automatically add them to your pantry. Add ingrediants in bulk based off of recipes.</p>
          </div>
          <div class="col-md-3">
              <h2>Lets Cook</h2>
              <p>Utilize Amazon Echo spoken recipe guides or follow along on your screen.</p>
          </div>
        </div>
        <hr>
        <hr>
        <footer>
            <p style="text-align:center">&copy; 2016 LetsCookFood </p>
        </footer>
    </div>
</template>
