<template name="landingPage">
    <div class="jumbotron">
        <div class="container">
            <h1>Let's Cook Food</h1>
            <p>An exciting way to explore recipes and your ingredients.</p>
            <p><a class="btn btn-primary btn-lg" href="#" data-action="signUp" type="button">Sign up &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Shopping List</h2>
                <p>Keep track of ingredients to buy to help you build your next delicious meal!</p>
            </div>
            <div class="col-md-4">
                <h2>Pantry</h2>
                <p>One stop resource to keep track of all ingredients on hand!</p>
            </div>
            <div class="col-md-4">
                <h2>Lets Cook</h2>
                <p>The good stuff! Time to get cooking with tens of thousands of recipes at your fingertips! </p>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; 2016 LetsCookFood </p>
        </footer>
    </div>
</template>


