<template name="shoppingList">
<div id="shopping-list">
   <h1>Shopping List</h1>
   <div class="row">
      <h3 class="col-md-1">Enter Quantity</h3>
      <h3 class="col-md-1">Enter Item</h3>
   </div>
   <div class="row">
      <input type="text" class="col-md-1" id="item-quantity">
      <input type="text" class="col-md-1" id="item">
      <button id="add-shopping-ingredient" class="btn btn-success" data-toggle="modal" data-target="createPopup">+</button>
   </div>
   <div id="shopping-ingredients">
   </div>
</div>
</template>
