<template name="pantryList">
   <div id="container" class="container-fluid top-spacer card">
      <h3>
      Your Pantry
      <button type="button" class="btn btn-success pantrylistAdd">+</button>
      </h3>
   </div>

   <div class="modal fade" id="createListAddPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">Your Pantry</h4>
         </div>
         <div class="modal-body">
         <div class="control">
            <input name="name" type="text" value="" id="name" placeholder="Name"  class="form-control"/><br>
         </div>
            <input name="amount" type="text" value="" id="amount" placeholder="amount"  class="form-control"/><br>
        </div>
        <div class="modal-footer" onKeyPress="return checkSubmit(event)">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save">Finish</button>
        </div>
         </div>
      </div>
    </div>
     <div id="container" class="container-fluid top-spacer card">
    <table class="table table-hover table-striped table-sm ftable">
      <thead>
        <tr class="ftable_head">
          <td>#</td>
          <td>Name</td>
          <td>Amount</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {{#each pantrylistItem}}
          <tr>
            <td>{{emptyChild}}</td>
            <td>{{name}}</td>
            <td>{{amount}}</td>
            <td><button type="button" class="btn btn-xs btn-danger deleteItem">Remove</button></td>
            <td><button type="button" class="btn btn-xs btn-danger addToShoppingCart">Shopping Cart</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
